<!DOCTYPE html>

<html>
<head> 
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css"/>
    <style type="text/css">body {padding-top: 40px;} </style> 
</head>

<body>
    
    <h1 class="title">ToDo app</h1>
    <div id="root" class="container">
        <h2 class="subtitle is-2">Tasks</h3>
        <task-list></task-list>
        <hr/>

        <p>
        <h2 class="subtitle is-2">Messages</h3>
        </p>
        <div id="root" class="container">
            <task-message title="Message component" body="Lorem ipsum dolar sit met."></task-message>
            <task-message title="More messages" body="Etc etc etc."></task-message>
        </div>

        <h2 class="subtitle is-2">Modals</h2>
        <button class="button is-dark" @click="showModal = true">Show modal</button>
        <modal msg="Some modal!" v-if="showModal" @close="showModal = false"></modal>
        <hr/>
        
        <h2 class="subtitle is-2">Tabs</h2>
        <tabs>
            <tab name="About One" :selected=true>
                <h3>About one...</h3>
            </tab>
            <tab name="About Two">
                <h3>About two...</h3>
            </tab>
            <tab name="About Three">
                <h3>About three...</h3>
            </tab>
        </tabs>
        <hr/>

        <h2 class="subtitle is-2">Component communication</h2>
        <h4 class="subtitle is-4">Parent-child communication</h4>
        <coupon v-on:applied="onCouponApplied"> </coupon>
        <h6 class="subtitle is-6" v-if="couponApplied">Coupon as been applied</h6>
        <hr/>
        
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./main.js"></script>
    
</body>

</html>